.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 800px;
}

.social-login {
  text-align: center;
  margin-top: 20px;
}
