body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E0E0E0 ;
}

.nav-link {
  font-weight: 500;
}

header {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

header h1 {
  font-size: 2.5rem;
  color: #333333;
  margin-bottom: 1rem;
}

.btn-lg {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.75rem 1.5rem;
}

.inpcol{
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

.butcol.btn{
    background-color: #000000;
    border: 1px solid #000000;
    color: #F5F5F5;
}
.butcol.btn:hover{
    background-color: #8B0000;
    border: 1px solid #8B0000;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}